<% content_for :title, "Team - #{@team.name}" %>
<% content_for :actions,
  link_to('Edit', edit_team_path(@team), class: 'btn btn-sm btn-outline-primary').concat(
    link_to('Back', teams_path, class: 'btn btn-sm btn-outline-secondary')) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
