<% content_for :title, "Contract - #{@contract.name}" %>
<%= render 'actions', contract: @contract %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Costs</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Month</th>
              <th>Staff?</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            <% @costs.sort {|a,b| b.reporting_period_date <=> a.reporting_period_date }.each do |cost| %>
              <tr>
                <td><%= link_to cost.reporting_period.display_name, cost.reporting_period %></td>
                <td><%= cost.from_staff %></td>
                <td><%= number_to_currency(cost.cost) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
