<% content_for :title, 'Non Staff Cost' %>

<% content_for :actions do
  link_to('Edit', edit_non_staff_cost_path(@non_staff_cost)).concat(
    link_to('Back', non_staff_costs_path))
end %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
      <p>
        <strong>Cost:</strong>
        <%= @non_staff_cost.cost %>
      </p>

      <p>
        <strong>Contract:</strong>
        <%= @non_staff_cost.contract_id %>
      </p>

      <p>
        <strong>Cost type:</strong>
        <%= @non_staff_cost.cost_type %>
      </p>
      </div>
    </div>
  </div>
</div>
