<% content_for :title, "Rate - #{@rate.code}" %>
<%= render 'actions', rate: @rate %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <p>
          <strong>Code:</strong>
          <%= @rate.code %>
        </p>

        <p>
          <strong>Value:</strong>
          <%= number_to_currency(@rate.value) %>
        </p>
      </div>
    </div>
  </div>
</div>
