<% content_for :title, "Reporting Periods - Incomes" %>

<table class="table table-hover table-sm">
  <tr>
    <th>Contract</th>
    <th>Month</th>
    <th>Income</th>
  </tr>
  <tbody>
    <% @monthly_incomes.each do |income| %>
      <tr>
        <td><%= income.contract&.name %></td>
        <td><%= income.month %></td>
        <td><%= number_to_currency(income.income) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
