<% content_for :title, "Reporting Periods - Incomes" %>
<% if can? :create, ReportingPeriod %>
  <% content_for :actions do
      link_to('Back', reporting_periods_path, class: 'btn btn-sm btn-outline-info')
    end
  %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <table class="table table-hover table-sm">
          <tr>
            <th>Contract</th>
            <% @timeframe.each do |month| %>
              <th><%= month.strftime('%B %y') %></th>
            <% end %>
          </tr>
          <tbody>
            <% totals = {} %>
            <% @contracts.each do |contract| %>
              <tr>
                <td><%= link_to contract.name, contract %></td>
                <% @timeframe.each do |month| %>
                  <% val = @monthly_incomes.find { |m| m.contract_id ==  contract.id && m.month ==  month }&.income %>
                  <td><%= number_to_currency(val) if val %></td>
                <% end %>
              </tr>
            <% end %>
            <tr>
              <th>Total</th>
              <% @timeframe.each do |month| %>
                <td><%= number_to_currency(@monthly_incomes.where(month: month).sum(:income)) %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
