<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @reporting_period.date %>
</p>

<%= link_to 'Edit', edit_reporting_period_path(@reporting_period) %> |
<%= link_to 'Back', reporting_periods_path %>
